/* Common Themes */




	/* Main content */
.nohover:hover {
	background: #17a2b8;
	color: white;
}
.switch.on{
	background: rgb(78, 185, 190) !important;

}
.main-content{
	width: 100%;
	margin-right: 0;
	right: 0;
	padding: 0;
}

.top-bar{
	height: 70px;
	border-width: 2px;
	border-color: #ACE;
	border-bottom-style: solid ;
	width: 90%;
	margin: auto;
}	

.account-img{ 
	width: 50px;
	height: 50px;
	border-radius: 100%;
	float: right;
 }

 .account-btn, #acct-popover{
 	background-color: transparent;
 	float: right;
 	border-radius:100%;
 	border-width: 0 !important;
 	padding: 0 !important;
 }

 .top-bar p{
 	float: right;
 	margin: 25px;
 	height: 80%;
 	font-size: 1.2em;

 }

.pw-form{
	margin: 15px;
	float: none;
}