.NavLink {
    color: #A8ABAF;
}


.NavLink:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.active {
	background-color: #1F2023;
	color: #A8ABAF;
}

.Link {
    color: #A8ABAF;
}


.Link:hover {
    color: #FFFFFF;
    text-decoration: none;
}