body{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    -webkit-font-smoothing: antialiased;
	}

img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

h1{
	font-size: 1.5em !important;
}
.section-title{
	color: #395584;

}

.section{
	background-color: white;
	border-color: #a3daed;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	margin: auto;
	padding: 5px;
}

.form-check-input{
	margin:3px;
}
.container{
	margin-top: 80px;
}

.profile-pic{
	float: left;
    width: 30%;
    overflow-x:hidden;
	margin: 10px;


}

.profile-info, .contact-details, .contacts{
	display: flex;
	width: 80% !important;
}


.react-tagsinput-input{
	width: 100% !important;
}


/* Copied from Skeleton CSS for portfolio*/

.cf{
	clear: both;
}

.bgrid-quarters [class*="column"] {
    width: 25%;
}

.columns {
    position: relative;
    padding: 0 20px;
    min-height: 1px;
    float: left;
}

.item-wrap{

}

*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.home a{
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    margin: 10px;
    padding: 8px !important;
}

.home a:hover{
    background-color: #63a5a0;
    color: white !important;
}