.half-left{
	width: 50%;
	height: 100%;
	margin: 0;
	padding: 0;
	float: right;
}


.half-right{
	width: 50%;
	height: 100%;
	margin: 0;
	padding: 0;
	float: right;
}



.main-row{
	height: 100%;
	width: 100%;
	overflow-y: hidden;
	max-width: none;
	margin:0 !important;
	background-color: var(--main-color);
}

.main{
	width: 100%;
	height: 800px;
	margin: 0 !important;
	padding: 0 !important;
	background-image:url('./background.jpg');
}

.signup, .contactus{
	height: 100%;
	margin: auto;
	margin-top: 200px;
	color: white;
	text-align: center;
	font-size: 2em;

}

.btn-a:link, .btn-a:visited {
    background-color: white;
    color: #46A;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border-style: solid;
    border-color: #46A;
    border-radius: 5px;

}

.btn-a:hover, .btn-a:active {
    background-color: #46A !important;
    color: white !important;
    text-decoration: none !important;
    border-radius: 5px;
}