

/*Overriding Skeleton CSS lib*/
.row{
	max-width: none !important;
	margin: 0 !important;
	width: 100% !important;
}
.topbar{
	background-color: #46A;
	border-style: none;
	width: 100%;
	margin: auto;
	padding: 0px;

}

.ASIE{
	height: auto;
	margin-left: 12px;
	color: white;
	font-size: 2em;
	float: left;
}

.forgot{
	color: white;
}

form{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;
	float: right;
}


.text-field, .text-password {
	width: 200px !important;
	margin:  auto 5px;
	padding: 5px;
	display: inline !important;
	


}


.btn-custom{
	margin-top:  0 !important ;
	
	font: 16px/30px 'opensans-bold', sans-serif;
   background: #11ABB0;
	color: white;


}

.btn-custom:hover{
	background-color: #79C;
}

.btn-menu{
	display: inline;
}

button {
	color: white;
	font: 16px/30px 'opensans-bold', sans-serif;
   background: #11ABB0;
}


@media (max-width: 574px){
	.text-field, .text-password {
		float: none;
	}

	.topbar{
		height: 200px;
	}
}