h1{
	padding: 10px;
}

.form-box{
	margin: 100px 20%;
	
	border-style: solid;
	border-width: 1px;
	border-color: #6BC;
	border-radius: 10px;

	box-shadow: 5px 5px 5px grey;
}

.signup-form{
	width: 100%;
	padding: 0  100px;
	float: none;
}

.btn{
	margin-top: 10px;
}